@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.dark {
  background-color: #000000;
  color: #fff;
}

.dark input {
  background-color: #444;
  color: #fff;
}

.dark button {
  background-color: #555;
  color: #fff;
}